{% extends "layout.html" %}
{% block meta %}
<meta property="og:title" content="모두의 링크! 북마커블 - 개발자 노트">
<meta name="author" content="북마커블">
<meta property="og:type" content="article">
<meta property="og:url" content="http://bookmarkable.org/develop_note">
<meta name="url" content="http://bookmarkable.org/develop_note">
<meta name="author" content="북마커블">
<meta name="description" content="모두의 링크! 북마커블의 개발자 노트 입니다." />
<meta property="og:description" content="모두의 링크! 북마커블의 개발자 노트 입니다." />
<meta property="og:site_name" content="모두의 링크! 북마커블">
<meta name="image" content="http://bookmarkable.org/static/img/x250.png">
<meta property="og:image" content="http://bookmarkable.org/static/img/x250.png">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
        <!-- 개발자 노트 입니다.  -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2>북마커블 개발자 노트<br><small>이곳은 북마커블 개발자의 이야기를 들을 수 있는 공간입니다.</small></h2>
                <ul>
                    <li>2014.11.9 : 데스크탑&맥북의 북마크 관리의 필요성을 느낌</li>
                    <li>2014.11.14 : 귀찮던 북마크들을 구글 드라이브에 하나씩 정리</li>
                    <li>2014.11.17 : 함께 개발을 공부하는 친구들에게 공유하기 시작</li>
                    <li>2014.11.18 : 우연히 PPT X자짤로 유명한 사진을 보게됨</li>
                    <li>2014.11.20 : Facebook에 넘쳐나는 유용한 공유 사이트</li>
                    <li>2014.11.20 : 북마커블 알파 버전 기획안 및 시안</li>
                    <li>2014.11.22 : 북마커블 최종 기획안 및 최종 시안 완성</li>
                    <li><strong>2014.11.22 : 본격 개발 착수</strong></li>
                    <li><strong>2014.11.23 : MS의 Azure 기반 초기 개발 시작</strong></li>
                    <li><strong>2014.11.23 : Python+Flask 기반의 프로젝트 진행</strong></li>
                    <li><strong>2014.11.30 : Azure DB 연동을 할 줄 몰라서 짜증나기 시작함</strong></li>
                    <li>2014.12.03 : 슬슬 기말고사가 다가옴</li>
                    <li>2014.12.15 : 기말고사 기간</li>
                    <li>2014.12.18 : 기말고사 끝</li>
                    <li>2014.12.24 : 맥북 모니터에 이상이 생겨 수리 맡김(개발은 데스크탑으로)</li>
                    <li>2014.12.25 : 빨간님이 찾아오는 날이라 쉼</li>
                    <li>2014.12.26 : 크리스마스 다음날이라고 별거 없음. 개발이나 하자.</li>
                    <li>2014.12.30 : 맥북을 찾아옴 할렐루야~(결국 익숙한 GAE로 갈아탐 ㅠㅠ)</li>
                    <li>2014.12.31 : 2014년의 마지막, 벌써 나이가 이렇게 들었나 생각함. 그리고 개발.</li>
                    <li>2015.01.01 : 새해 맞이 치킨 먹기(취~잌킨!취~잌킨!)</li>
                    <li><strong>2015.01.03 : 기본 카테고리 분류(개발,디자인,개발소스,슬라이드쉐어,PPT&템플릿,꿀뉴스)</strong></li>
                    <li><strong>2015.01.07 : Facebook 로그인 및 연동</strong></li>
                    <li><strong>2015.01.10 : 마이페이지 접근성 암호화</strong></li>
                    <li><strong>2015.01.14 : 비 로그인 유저 마이페이지 접근성</strong></li>
                    <li><strong>2015.01.17 : 알파버전 출시일 줄 알았지만, [500]비 로그인 유저 암호 입력 시 에러 발생.</strong></li>
                    <li><strong>2015.01.18 : [500]비 로그인 유저 암호 입력 시 에러 [해결]</strong></li>
                    <li>2015.01.20 : 메인 디자인 이미지 만듬(발로 그린 포토샵)</li>
                    <li>2015.01.21 : 메인화면 꾸미기 귀찮아... 결국 포기</li>
                    <li>2015.01.22 : 몸살이 도짐(결국 하루 날림)</li>
                    <li><strong>2015.01.23 : 메인화면 90% 꾸밈(사실 뭐라고 쓸지 몰라서 냅둠ㅋ)</strong></li>
                    <li><strong>2015.01.23 : [500]로그인 유저가 다른 유저의 마이페이지에 접근시 500에러 발생.[원인 분석중]</strong></li>
                    <li><strong>2015.01.23 : 알파버전 일부 유저에게 오픈</strong></li>
                    <li><strong>2015.01.24 : 마이페이지 세부 기능(코멘트 수정 및 북마크 삭제 기능)추가 및 보안성 강화.</strong></li>
                    <li><strong>2015.01.24 : 종합 개발 관련 DB 일부 업데이트 및 누락 요소 추가</strong></li>
                    <li>2015.01.25 : 몸살로 모든 일정 잠정 중단</li>
                    <li>2015.01.27 : 겨우겨우 몸살 기운을 조금 떨쳐냄. 죽다 살다를 반복함.</li>
                    <li><strong>2015.01.27 : 상세 페이지 비로그인 유저도 접속 가능하게 바꿈.</strong></li>
                    <li><strong>2015.01.27 : DB 업데이트 중 & 메인화면 슬라이드 이미지 교체 작업. & 추가 버튼 클릭 시, 비정상으로 출력되던 제목 및 설명 부분 수정</strong></li>
                    <li><strong>2015.01.28 : DB 업데이트 및 네이버AD 서비스 준비</strong></li>
                    <li><strong>2015.01.29 : 리뷰 게시판 및 summernote 작업 & 테스트 완료 & 메인페이지 속도 개선 및 안정화 작업 </strong></li>
                    <li><strong>2015.01.30 : 리뷰 게시판 모바일 개편 및 게시판 안정화 작업 & 테스트 완료</strong></li>
                    <li><strong>2015.02.03 : DB 업데이트</strong></li>
                    <li><strong>2015.02.04 : DB 업데이트 및 세부 페이지 정리 & 사이트 리뷰 게시판 및 게시글 작업</strong></li>
                    <li><strong>2015.02.05 : meta 태그 작업 & 개인 북마크 리스트 업로드 기능 구현</strong></li>
                    <li><strong>2015.02.06 : 알고리즘 개선 작업 및 개인 북마크 리스트 암호화 </strong></li>
                    <li><strong>2015.02.07 : 게시판 알고리즘 개선 및 개인 북마크 업로드 알고리즘 및 속도 개선 & UI 개선 </strong></li>
                    <li><strong>2015.02.09 : 에디터 선정 분류 지정</strong></li>
                    <li><strong>2015.02.10 : 선정된 에디터별 작업 분류 및 안정화</strong></li>
                    <li><strong>2015.02.11 : Be The Rocket 행사 참석 및 해당 컨텐츠 생산</strong></li>
                    <li><strong>2015.02.12 : [500] 게시판에서 카운트 쿼리 부분 에러 발생[해결]</strong></li>
                    <li><strong>2015.02.12 : [500] 메인 페이지의 각 사이트 이미지 og:image로 교체[해결]</strong></li>
                    <li><strong>2015.02.13 : 웹 페이지 속도 개선 및 CSS,JS 압축 & Slideshare 카테고리 이미지 og:image로 교체 작업 완료 & 유저의 해당 url 저장 유무 값 확인 & 최적화 작업</strong></li>
                    <li><strong>2015.02.13 : [500]ajax로 저장버튼,삭제버튼,수정버튼 데이터 전송 불가 현상[해결]</strong></li>
                    <li><strong>2015.02.14 : ajax로 에러났던 사항 모두 해결</strong></li>
                    <li><strong>2015.02.14 : 마이페이지 카테고리 세분화</strong></li>
                    <li><strong>2015.02.14 : Tag 검색기능</strong></li>
                    <li><strong>2015.02.15 : 사이트 로드 속도 개선</strong></li>
                    <li><strong>2015.02.16 : 오픈 베타 준비 작업</strong></li>
                    <li><strong>2015.02.17 : 정식 오픈 베타! </strong></li>
                    <li><strong>2015.02.18 : 리스트 UX 개선 및 기타 작업 </strong></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2>앞으로 개선될 사항들입니다. <br><small>업데이트는 주로 새벽 또는 오전에 진행될 예정입니다.</small></h2>
                <h4>추가적인 개선사항은 '모두의 링크! 북마커블' 페이스북 페이지에 메세지를 주시면 감사하겠습니다.</h4>
                <a class="btn btn-primary" href="https://www.facebook.com/messages/559436984190550">모두의 링크! 북마커블 Facebook</a>
                <ul>
                    <li>UX&UI 개선 - 사용하기 불편한 부분을 업그레이드 할 예정입니다.</li>
                    <li>현재 Facebook으로 로그인이 가능한 부분에 대해서, 구글 및 트위터 계정과 연동이 가능하게끔 할 예정입니다.</li>
                    <li>북마커블의 확장프로그램으로 Chrome 브라우저와 Safari 브라우저를 정식 지원할 예정입니다.</li>
                    <li>업로드 필터링관련해서 사회적으로 문제가 있는 몇몇의 사이트에 대해서 Block조치될 예정입니다.</li>
                    <li>매번 들어와야하는 불편함을 해소하고자, 확장프로그램을 통해 사용하기 편하게 업데이트될 예정입니다.</li>
                    <li>사용자들이 주로 많이 찾는 사이트들을 각 리스트의 상단에 고정시킬 예정입니다.</li>
                    <li>질의응답을 할 수 있게 게시판을 만들 예정입니다.</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
