{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-4">
            <div class="row">
                <h2></h2>
                <div>
                    <h3></h3>
                    <p></p>    
                </div>
                 <div>
                    <h3></h3>
                    <p></p>    
                </div>
                 <div>
                    <h3></h3>
                    <p></p>    
                </div>
                 <div>
                    <h3></h3>
                    <p></p>    
                </div>
                 <div>
                    <h3></h3>
                    <p></p>    
                </div>
                
            </div>
        </div>
    </div>    
</div>



{% endblock %}
