{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/summernote.css" />
<link rel="stylesheet" type="text/css" href="/static/css/red.css" />
{% endblock %}

{% block content %}

{% if get_flashed_messages() %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">웁스~! 확인하세요! </h3>
				</div>
				<div class="panel-body">
					{% for each in get_flashed_messages() %}
					<div class="flash">
						{{each}}
					</div>
					{% endfor %}
				</div>
			</div>
		</div> 
	</div>
</div>
{% endif %}
<div class="container">
	<form action="/write" method='post'>
		<div class="input-group input-group-lg">
			<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
			<input type="text" class="form-control" placeholder="제목을 입력하세요." name="subject" aria-describedby="sizing-addon1">
		</div>
		<div class="input-group-lg">
			<br>	
			<label class="control-label">카테고리 설정(필수 항목)</label>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-2">
					<input class="btn btn-success" type="radio" name="iCheck" value="review"> 사이트 리뷰
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<input class="btn btn-success" type="radio" name="iCheck" value="algorithm"> 알고리즘
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<input class="btn btn-success" type="radio" name="iCheck" value="javascript"> Javascript
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<input class="btn btn-success" type="radio" name="iCheck" value="startup"> 스타트업 
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<input class="btn btn-success" type="radio" name="iCheck" value="dev_note"> 개발자 노트
				</div>
				<div class="col-xs-4 col-sm-3 col-md-2">
					<input class="btn btn-success" type="radio" name="iCheck" value="facebook_page"> Facebook 페이지
				</div>
			</div>
			<br>
		</div>
		<textarea name="text_val" id="summernote"></textarea>
		<br>
		<input type="submit" value="게시하기" class="btn btn-primary btn-lg" id="send">
	</form>
</div>



{% endblock %}

{% block scripts %}
<!-- summernote -->
<script src="../static/js/summernote.js"></script>
<script src="../static/js/summernote-ko-KR.js"></script>
<script>
$('#summernote').summernote({
	height: 350,
	minHeight: null,
	maxHeight: null,
	focus: true,
	lang: 'ko-KR'
});
var aHTML = $('#summernote').code();

$('#send').bind('click',function(){ 
	$('#summernote').val(aHTML);
});
</script>
<script src="../static/js/icheck.min.js"></script>
<script>$(document).ready(function(){$('input').iCheck({checkboxClass: 'icheckbox_flat-red',radioClass: 'iradio_flat-red'});});</script>
{% endblock %}

